@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tk-chat-5321e.appspot.com/o/coffee.webp?alt=media&token=f4231235-9004-409d-a1bc-4e775653c858');
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: rgba(1, 172, 172, 0.459);
}

::-webkit-scrollbar-thumb{
  background: rgb(104, 241, 241);
  border-radius: 100vh;
}